{%extends "article/base.html"%}
{% load staticfiles%}
{% block title%}{%endblock%}  
{%block content%}
<div>
    <p class="text-right"><button class="btn btn-primary">add column</button></p>
    <table class="table table-hover">
        <tr>
            <td>序号</td>
            <td>栏目名称</td>
            <td>操作</td>
        </tr>
        {%for column in columns %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{column.column}}</td>
            <td>--</td>
        </tr>
        {%empty%}
        <p>还么有设置栏目,,,嘤嘤嘤!!!</p>
        {%endfor%}
    </table>
</div>
{%endblock%}