{% extends "blog/blog_base.html" %}
{% block title%}BLOGS{%endblock%}
{%block content%}
		<div class="row text-center vertical-middle-sm">
			<h1 class="vintage1">品味阅读,分享经典</h1>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<ul>
					{% for blog in blogs %}
						<li><a href="{{blog.id}}">{{blog.title}}</a><span><b> 作者:{{blog.author.username}}</b> from 华侨大学</span></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-xs-6 col-md-4">
				<h2>广告位</h2>
				<p>xzper dashuaibi</p>
			</div>
		</div>
    
{%endblock%}
</html>
